/* reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

button {
  border: none;
}

/* ir */
.ir {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

/* layout */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.content-container {
  display: flex;
  gap: 40px;
}

.movie_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* design */
body {
  color: #8e8e8e;
  background-color: black;
}

.header {
  background-color: #111111;
  padding-top: 60px;
}

.header-container {
  padding-bottom: 60px;
  background-image: url(./images/anger.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.header-logo {
  width: 200px;
}

.header-subtitle {
  display: flex;
  align-items: center;
}

.header-subtitle::before {
  content: "";
  background-color: #8e8e8e;
  width: 50px;
  height: 1px;
  margin: 0 20px;
}

.content {
  margin: 40px 0;
}

.category {
  flex-shrink: 0;
  width: 200px;
}

.category-title {
  margin-bottom: 10px;
}

.category-title::before {
  content: "";
  background-image: url(./images/icon.png);
  background-size: 100%;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 10px;
}

.category-list {
  padding: 10px 0 10px 10px;
  background-color: #111111;
  border-top: 1px solid lightcoral;
}

.category-list-title {
  color: lightcoral;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.category-list-item {
  font-size: 14px;
  border-bottom: 1px solid #353535;
  padding: 0.3em 0;
  margin-left: 1em;
}

.category-list-item:last-child {
  border: none;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  background-color: #222222;
  border-radius: 5px;
  overflow: hidden;
}

.movie-cover {
  width: 100%;
}

.movie-title {
  margin: 15px;
  font-weight: 700;
  color: pink;
}

.movie-description {
  margin: 15px;
  font-size: 14px;
}

.watch_button {
  background-color: #111111;
  color: orangered;
  padding: 10px;
  letter-spacing: 0.2em;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
